[push]
	default = simple
[core]
	editor = vim
	autocrlf = input
	ignorecase = false
[mergo]
	tool = kdiff3
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
	ui = auto
[github]
	user = Aragami1408
[init]
	defaultBranch = master

[user]
	name = Aragami1408
	email = vucaominh1408@gmail.com
