[push]
	default = simple
[core]
	editor = vim
	autocrlf = input
	ignorecase = false
	pager = less
[mergo]
	tool = kdiff3
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
	ui = auto
[github]
	user = Cao Minh Vu
[init]
	defaultBranch = master

[user]
	name = Cao Minh Vu
	email = vucaominh1408@gmail.com
